<button matTooltip="Add a new task" (click)="openTaskPopup()">Add Task</button>
<!-- <button matTooltip="Use AI to add your most frequent tasks">
  AI: Favourite Tasks
</button> -->

<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
    <h2>Add Task</h2>

    <label for="taskName">Task Name:</label>
    <input
      id="taskName"
      type="text"
      placeholder="Enter task name"
      [(ngModel)]="taskName"
    />

    <label for="category">Category:</label>
    <input
      list="categories"
      [(ngModel)]="category"
      name="category"
      type="category"
      id="category"
      placeholder="Select/add category"
    />
    <datalist id="categories">
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </datalist>

    <label for="label">Label:</label>
    <input
      list="labels"
      [(ngModel)]="label"
      name="label"
      type="label"
      id="label"
      placeholder="Select/add label"
    />
    <datalist id="labels">
      <option *ngFor="let label of labels" [value]="label">
        {{ label }}
      </option>
    </datalist>

    <label for="date">Date:</label>
    <input
      id="date"
      type="date"
      placeholder="Select a date"
      [(ngModel)]="date"
    />

    <label for="estimate">Estimate:</label>
    <input
      id="estimate"
      type="number"
      placeholder="Estimated duration in minutes"
      [(ngModel)]="estimate"
    />

    <label for="startTime">Start Time:</label>
    <input
      id="startTime"
      type="time"
      step="600"
      placeholder="Select start time"
      [(ngModel)]="startTime"
    />

    <label for="endTime">End Time:</label>
    <input
      id="endTime"
      type="time"
      step="600"
      placeholder="Select end time"
      [(ngModel)]="endTime"
    />

    <label for="priority">Priority:</label>
    <select id="priority" [(ngModel)]="priority">
      <option value="none">None</option>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>

    <label for="taskDescription">Task Description:</label>
    <textarea
      id="taskDescription"
      placeholder="Enter task description"
      [(ngModel)]="taskDescription"
    ></textarea>

    <button (click)="submitTask()">Submit</button>
    <button (click)="closePopup()">Cancel</button>
  </div>
</div>
