<div class="list-container" id="task-list">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
  </div>
  <div class="filter">
    <label>Categories</label>
    <select (change)="onCategoryFilterChange($event)">
      <option value="all">all</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
    <label>Labels</label>
    <select (change)="onLabelFilterChange($event)">
      <option value="all">all</option>
      <option *ngFor="let label of labels" [value]="label">
        {{ label }}
      </option>
    </select>
  </div>
  <div>
    <button class="hide-button" mat-button (click)="toggleHideCompletedTasks()">
      {{ hideCompletedTasks ? "Show" : "Hide" }} Completed Tasks
    </button>
  </div>
  <div *ngFor="let task of filteredTasks" (click)="openTaskDetailsDialog(task)">
    <app-task-card
      [task]="task"
      [hideCompletedTasks]="hideCompletedTasks"
    ></app-task-card>
  </div>
</div>
