/* task-card.component.css */
.task-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.completed {
  background-color: rgb(181, 242, 181); 
}

.task-card p {
  margin: 5px 0;
}

p {
  font-family: Virgil;
}

.card{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #3ab399;;
}


