<!-- <p>task-card works!</p> -->
<div
  class="task-card fc-event"
  *ngIf="task"
  [attr.data-taskName]="task.taskName"
  [attr.data-id]="task._id"
  [attr.data-date]="task.date + 'T' + task.startTime"
  [attr.data-duration]="task.duration ? task.duration.toString() : '60'"
>
  <p>Task Name: {{ task.taskName }}</p>
  <p>Category: {{ task.category }}</p>
  <p>Date: {{ task.date }}</p>
  <p>Start: {{ task.startTime }}</p>
  <p *ngIf="task.duration !== undefined">Estimate: {{ task.duration }}m</p>
</div>



