<header *ngIf="showHeader()">
  <div>
    <h1>TetriPlan<img class="login-image" src="../assets/logo2.png" alt="Logo"/> </h1>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/login" *ngIf="user; else loginLink">{{
          user.displayName
        }}</a>
        <ng-template #loginLink>
          <a routerLinkActive='active' routerLink="/login">Login</a>
        </ng-template>
      </li>
      <li *ngIf="!user">
        <a routerLinkActive='active' routerLink="/register">Register page</a>
      </li>
      <li *ngIf="user">
        <a routerLinkActive='active' routerLink="/analytics">Analytics</a>
      </li>
      <li *ngIf="user">
        <a routerLinkActive='active' routerLink="/home">Home</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
