<button mat-raised-button color="primary" (click)="openPopup()">AI: Favourite Tasks</button>

<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content" (click)="closePopup()">
    <h3><span class="material-icons lamp-icon">lightbulb</span>Want a productivity boost? Click here</h3>
  </div>
</div>

<div class="big-popup-overlay" *ngIf="showBigPopup">
  <div class="big-popup-content">
    <h2>API Endpoint</h2>
    <div *ngFor="let aiTask of aiTasks"> <p (click)="submitAiTask(aiTask)">{{ aiTask.taskName }}</p></div>
    <!-- <p>{{ apiEndpoint }}</p> -->
   
    <button mat-button color="primary" (click)="closeBigPopup()">Close</button>
  </div>
</div>

