<h2 mat-dialog-title>Task Details</h2>
<div
  mat-dialog-content
  [ngClass]="{ completed: editableTask.completionStatus }"
>
  <div *ngIf="!isEditing; else editMode">
    <p class="task-detail">Task Name: {{ data.taskName }}</p>
    <p class="task-detail">Category: {{ data.category }}</p>
    <p class="task-detail">Description: {{ data.description }}</p>
    <p class="task-detail">Date: {{ data.calendar }}</p>
    <p class="task-detail">Start: {{ data.startTime }}</p>
    <p class="task-detail">End: {{ data.endTime }}</p>
    <p class="task-detail" *ngIf="data.duration !== undefined">
      Estimate: {{ data.duration }}m
    </p>
    <p class="task-detail">Complete: {{ data.completionStatus }}</p>
    <p class="task-detail">Label: {{ data.label }}</p>
    <p class="task-detail">Priority: {{ data.priority }}</p>
  </div>
  <ng-template #editMode>
    <p class="task-detail">
      Task Name: <input [(ngModel)]="editableTask.taskName" type="text" />
    </p>
    <p class="task-detail">
      Category: 
      <input
        list="categories"
        id="category"
        placeholder="select/add category"
        [(ngModel)]="editableTask.category"
        type="text"
      />
      <datalist id="categories">
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </datalist>
    </p>
    <p class="task-detail">
      Description: <input [(ngModel)]="editableTask.description" type="text" />
    </p>
    <p class="task-detail">
      Date:
      <input [(ngModel)]="editableTask.calendar" type="date" />
    </p>
    <p class="task-detail">
      Start: <input [(ngModel)]="editableTask.startTime" type="time" />
    </p>
    <p class="task-detail">
      End: <input [(ngModel)]="editableTask.endTime" type="time" />
    </p>
    <p class="task-detail" *ngIf="editableTask.duration !== undefined">
      Estimate: <input [(ngModel)]="editableTask.duration" type="number" />m
    </p>
    <p class="task-detail">
      Complete:
      <input [(ngModel)]="editableTask.completionStatus" type="text" />
    </p>
    <p class="task-detail">
      Label: 
      <input
        list="labels"
        id="label"
        placeholder="select/add label"
        [(ngModel)]="editableTask.label"
        type="text"
      />
      <datalist id="labels">
        <option *ngFor="let label of labels" [value]="label">
          {{ label }}
        </option>
      </datalist>
    </p>
    <p class="task-detail" >
      Priority: 
      <select [(ngModel)]="editableTask.priority" >
        <option value="none">None</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        
      </select>
    </p>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button *ngIf="!isEditing" (click)="toggleEdit()">Edit</button>
  <button mat-button *ngIf="isEditing" (click)="saveTask()">Save</button>
  <button mat-button (click)="handleTaskCompleted()">
    {{ editableTask.completionStatus ? "Mark as Incomplete" : "Complete Task" }}
  </button>
  <button mat-button (click)="handleTaskDelete()">Delete</button>
</div>
